[submodule "astro"]
	path = astro
	url = https://github.com/Hectorgh24/astro.git
[submodule "django"]
	path = django
	url = https://github.com/Hectorgh24/django.git
[submodule "Next"]
	path = Next
	url = https://github.com/Hectorgh24/Next.git
[submodule "Angular"]
	path = Angular
	url = https://github.com/Hectorgh24/Angular.git
