[submodule "astro"]
	path = astro
	url = https://github.com/Hectorgh24/astro.git
[submodule "django"]
	path = django
	url = https://github.com/Hectorgh24/django.git
[submodule "Next"]
	path = Next
	url = https://github.com/Hectorgh24/Next.git
[submodule "Angular"]
	path = Angular
	url = https://github.com/Hectorgh24/Angular.git
[submodule "Expressjs"]
	path = Expressjs
	url = https://github.com/Hectorgh24/Expressjs.git
[submodule "Spring-Boot"]
	path = Spring-Boot
	url = https://github.com/Hectorgh24/Spring-Boot.git
[submodule "React"]
	path = React
	url = https://github.com/Hectorgh24/React.git
